<h1>Add post</h1>
<form action="/posts/edit" method="POST">
    <input type="hidden" name="_id" value="{{post._id}}">
    <div class="row">
        <div class="col-6 form-group">
            <label>
                Title
            </label>
            <input type="text" name="title" id="title" class="form-control" value="{{post.title}}">
        </div>

        <div class="col-9 form-group">
            <label for="content">
                Content
            </label>
            <textarea name="content" id="summernote" placeholder="None" class="form-control">{{post.content}}</textarea>
        </div>

        <div class="col-4 form-group">
            <label>Category</label>
            <select class="form-control" name="category">
                {{#each categories}}
                    <option 
                        {{#if_eq name ../post.category}}selected{{/if_eq}}
                    >{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 form-group">
            <label>Tags</label>
            <select class="form-control select2" name="tags" multiple="multiple">
                {{#each tags}}
                    <option
                        {{#if_inside_array name ../post.tags}}selected{{/if_inside_array}}
                    >{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 form-group">
            <label>Release time</label>
            <input class="form-control" type="date" name="created_at" value="{{post.created_at}}">
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Post"/>
</form>
